@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

h1 {
  color: #000;
  font-size: 40px;
  margin-left: 50px;
}

.nav-ul {
  display: flex;
  gap: 20px;
  margin-right: 50px;
}

.nav-ul-link {
  font-size: 15px;
  font-weight: bold;
  color: #000;
}

.nav-ul-link:hover {
  color: #f5913e;
}

.calculator-main {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  height: 90vh;
}

.title {
  margin-top: 50px;
  font-size: 35px;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 50px;
  width: 50%;
}

.result {
  width: 60%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #616161;
}

.result p {
  font-size: 18px;
  color: #fff;
  margin-right: 10px;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 50vh;
}

.button {
  width: 25%;
  font-size: 14px;
  border: 1px solid hsl(0, 6%, 86%);
}

.operator {
  width: 25%;
  background-color: #fb0;
  border: 1px solid hsl(0, 6%, 86%);
  font-size: 15px;
}

.btn-0 {
  width: 50%;
}

.home-page {
  padding: 50px;
}

.home-page h3 {
  margin-bottom: 20px;
}

.home-page p {
  margin-bottom: 10px;
}

.quote-page {
  display: flex;
  justify-content: center;
  padding: 40px;
  height: 90vh;
}

.quote-main {
  display: flex;
  text-align: center;
  margin-top: 60px;
  width: 70%;
  height: 50vh;
}

.quote-main p {
  font-size: 25px;
}